<div class="message">
<%= image_tag(message.user.profile_pic, class: "profile_pic") %>
<p class="message_body"><%= message.message_body %></p>

<p class="user_name">
<%= message.user.full_name %>
</p>

<% if message.user == current_user %>
  <%= link_to "Create Task from message", new_project_task_path(@project, {task_body: message.message_body}), class: "create_task" %>
<% end %>
</div>
