<%= image_tag(message.user.profile_pic, class: "profile-pic") %>
<p class="message_body"><%= message.message_body %></p>

<p class="user_name">
<%= message.user.full_name %>

<% if message.user == current_user %>
  <%= link_to "Create Task", new_project_task_path(@project, {task_body: message.message_body}) %>
  <% end %>
</p>
