<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Invitation to Join Mr. Manager</h1>
    <p>
      <%= @user_email %>, you have been invited to contribute to a project on Mr. Manager!
      <br>The project name is <%= @project_title %>.
    </p>
    <p>
      To sign up and start working on the project, please follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Mr. Manager</p>
  </body>
</html>
