<div class="form-page">
  <h1>Edit Your Profile</h1>
  <p>
    If you are part of our Mr Manager Slack channel you can get your notifications sent to you here:
  </p>
  <%= link_to "Get Slack Involved", '../auth/slack' %>

  <%= render 'form' %>
  </div>
