<div class="form-page">
  <h1>Sign up?</h1>

  <%= render 'form' %>

<a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=<%= ENV["MRMANAGER_ID"] %>"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

</div>
