<div class="landing-page">
  <!-- <p>Welcome To</p> -->
  <%= image_tag "large_white.png", class: "landing-logo logo-white", alt: "Mr. Manager"%>
  <%= link_to "Login", login_path %>
  <%= link_to "Create an Account", new_user_path %>
</div>
