/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import 'users';
@import 'projects';
@import 'animate';

body{
  height: 100vh;
  min-height: 100%;
  background-size: cover; //This should probably be 100% auto after we resize all elements on the views
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  transition: -webkit-filter 0.5s ease;
  p, li {
    font-weight: 300;
    line-height: 1.25;
  }
}
main{
  position: relative;
  top:20px;
  height: calc(100vh - 20px);
}

ul{
  margin: 0;
  padding:0;
  li{
    list-style: none;
    margin: 0;
    padding:0;
  }
}

.task-prop{
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 700;
  color:black;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 8px;
}

.time{
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 700;
  display: inline-block;
}

.top-left{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  top: 0;
  left: 0;
  padding-left: 0.8em;
  padding-top: 0.4em;
  width: 110%;
  z-index: 1;
} .top-right{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  text-align: right;
  padding-top: 0.4em;
} .bottom-left {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  position: absolute;
  bottom: 0px;
  padding-left: 0.8em;
  z-index: 1 !important;
} .bottom-right{
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 1;
}

.green{
  background-color: rgb(103, 247, 143);
}
.red{
  background-color: rgb(255, 108, 103);
}
.white{
  background-color: white;
}
.blue{
  background-color: rgb(162, 230, 255);
}


header, footer{
  display: flex;
  width: 100%;
  position: fixed;
  height: 20px;
  .logged-in-left{
    display: inline-block;
    position: absolute;
    left: 3px;
  }
  .logged-in {
    display: inline-block;
    position: absolute;
    right: 3px;
  }
  p{
    text-align: center;
    margin:0;
    font-size: 14px;
  }
  a {
    color: #fff !important;
  }
}

#tasks-pane{
  height: calc(100vh - 20px);
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  width: 70%;
  padding: 1em 1em 9em 1em;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #000000;
  color:white;
  z-index: 2;
  .task-list{
    overflow-y: scroll;
    height: calc(100vh - 140px);
  }
  p{
    line-height: 1em;
  }
  li{
    border-bottom: 1px solid rgba(128, 128, 128, 0.8);
    padding-bottom: 2em;
    // background: black; /* For browsers that do not support gradients */
    // background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(128, 128, 128, 0.3)); /*Safari 5.1-6*/
    // background: -o-linear-gradient(bottom,rgba(255,0,0,0),rgba(128, 128, 128, 0.3)); /*Opera 11.1-12*/
    // background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(128, 128, 128, 0.3)); /*Fx 3.6-15*/
    // background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(128, 128, 128, 0.3));
  }

}

header{
  top:0;
  justify-content: space-between;
  background: black;
  font-size: 0.8em;
  padding: 3px;
  box-sizing: border-box;
}

footer{
  bottom:0;
  justify-content: center;
  color:white;
  z-index: 1;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(0,0,0,0.2)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(255,0,0,0),rgba(0,0,0,0.2)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(0,0,0,0.2)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,0.2));
  p{
    font-size: 0.7em;
  }
}

.material-icons {
  font-family: "Material Icons"
}
