.form-page {
  align-self: center;
  text-align: center;
  margin: auto;
  padding: 1rem 0;
  width: 27rem;
  background-color: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  .field {
    margin: 2rem;
  }

  input {
    color: #ffffff;
  }

  input[type="submit"]{
    background: white;
    color: black;
    padding: 7px 20px;
    border: none;
    border-radius: 2px;
    transition: 0.25s ease-in-out;
    margin: 0 auto;
  }

  input[type="submit"]:hover{
    background: black;
    color: white;
    transition: 0.25s ease-in-out;
  }
}

.add-task{
  background-color: black;
}

.field {
  display: flex;
  justify-content: space-between;

  input{
    border: none;
    border-bottom: 2px #dedede solid;
    background: none;
  }

  .field_with_errors {
    display: inline-block;
    border-bottom: 1px solid tomato;
  }
}

.errors {
  font-family: sans-serif;
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  border: 0;

  li{
    color: tomato;
    padding: 0.5em;
  }
}

.new_task{
  input[type="submit"]{
    background: white;
    color: black;
    padding: 7px 20px;
    border: none;
    border-radius: 2px;
    transition: 0.25s ease-in-out;
    margin: 0 auto;
  }

  input[type="submit"]:hover{
    background: black;
    color: white;
    transition: 0.25s ease-in-out;
  }
}

.notepad {
  .submit{
    margin: 2rem 2rem;

    input[type="submit"]{
      background: white;
      color: black;
      padding: 7px 20px;
      border: none;
      border-radius: 2px;
      transition: 0.25s ease-in-out;
      margin: 0 auto;
    }

    input[type="submit"]:hover{
      background: black;
      color: white;
      transition: 0.25s ease-in-out;
    }
  }
}

textarea{
  resize:none;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}

textarea:focus{
  background-color: rgba(255, 255, 255, 0.77);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
