.landing-page {
  overflow-x: hidden;
  margin: 0 auto;
  .landing-logo{
    max-width: 100%;
    width: 500px;
    height: auto;
  }
  .logo-white, .logo-black {
    display: none;
  }
  .landing-buttons{
    text-align: center;
    .login, .sign-up {
      display: inline-block;
      text-transform: uppercase;
    }
  }
}
