// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.discussion{
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  height: 100%;
  width: 93%;
  margin-left: 7%;
  .message-board {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    .message, .message-owner {
      margin: 1rem auto;
    }
    .all-messages {
      overflow: scroll;
    }
    .message {
      display: grid;
      grid-template-columns: 6rem;
      .profile_pic {
        grid-column: 1 / 2;
      }
      .user_name {
        grid-column: 1 / 2;
      }
      .create_task {
        grid-column: 2 / 3;
      }
      .message_body {
        grid-column: 2 / 3;
      }
    }
    .message-owner {
      display: grid;
      grid-template-columns: auto;
      text-align: right;
      .message_body {
        grid-column: 1 / 2;
      }
      .create_task {
        grid-column: 1 / 2;
      }
      .user_name {
        grid-column: 2 / 3;
      }
      .profile_pic {
        grid-column: 2 / 3;
        transform: scalex(-1);
      }
    }

    .profile_pic {
      display: flex;
      justify-content: center;
      height: 5rem;
      padding: 0.5rem;
    }
    .user_name {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.3);
      margin: 0;
      padding: 1rem 0;

    }
    .create_task {
      background-color: rgba(0, 0, 0, 0.3);
      height: 100%;
      width: 100%;
      a {
        color: #dedede;
        padding: 1rem;
        display: flex;
        justify-content: center;
      }
    }
    .message_body {
      margin-top: 0;
      padding: 0.5rem 0.5rem;
      overflow: scroll;
    }
  }
  #add-new-message{
    text-align: center;
  }

  form{
    padding: 1rem 0;

    label{
      margin-right: 0.5rem;
    }
    .field{
      margin: 0rem 4rem 0rem 1rem;
    }
    .submit, .announcement {
      display: flex;
      justify-content: center;
      margin: 0.5rem;

      textarea {
        max-height: 5rem;
        resize: none;
      }
    }
    .material-icons {
      position: absolute;
      font-size: 2.5rem;
      right: 1rem;
      bottom: 1rem;
      font-family: "Material Icons";
      cursor: pointer;
    }
  }
}

#discussion {
  grid-column: 3 / 4;
  grid-row: 4;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}
