// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  .projects-page{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  } .get-quotes{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right;
  }
}
